$spacer: 2rem;

// Typography
$font-family-sans-serif: "vazir", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.9;
$font-weight-base: 300;

$display1-weight: 500;
$display2-weight: 500;
$display3-weight: 500;
$display4-weight: 500;

// Colors
$body-color: #534b68;

$indigo: #6574cd;
$red: #f04d5e;
$orange: #f6993f;
$yellow: #ffb822;
$green: #34bfa3;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$pink: #f21692;
$pinkDarker: #e30482;
$white: #fff;
$grayLight: #f1ebfb;
$darkBlue: #333a49;
$lightGray: #9194a6;
$lightGray1: #dcd8e6;
$lightGray2: #858c90;
$lightGray3: #f1f2f3;
$lightGray4: #faf9fd;
$lightGray5: #7d8099;
$lightGray6: #faf9fb;
$lightGray7: #5d607b;
$lightGray8: #7d8597;
$lightGray9: #f9f9fc;
$purple: #4b1faa;
$purpleLight: #e8d6fc;
$violete: #773add;
$violete2: #6033c2;
$violeteDark: #611cd3;
$blue: #6178d8;
$blue1: #2c39e8;
$blueLight: #e1e9f1;


$container-max-widths: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$container-max-widths: map-merge(
    (
      sm: 540px,
      md: 720px,
      lg: 960px,
      xl: 1344px
    ),
    $container-max-widths
);

$grid-breakpoints: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grid-breakpoints: map-merge(
    (
      xs: 0,
      sm: 576px,
      md: 768px,
      lg: 992px,
      xl: 1472px
    ),
    $grid-breakpoints
);
