#container {
  margin-top: 2rem;
}

.field.is-grouped > .control:not(:last-child) {
  margin-left: 0.75rem;
  margin-right: 0;
}

section {
  padding: 0 2rem;

  &:nth-child(2n) {
    padding: 0 2rem 14rem;
  }
}

section.background {
  color: #fff;
  position: relative;

  .container {
    display: flex;
    align-items: center;
  }

  &:before {
    left: 0;
    top: -17%;
    width: 100%;
    content: "";
    z-index: -1;
    height: 100%;
    position: absolute;
    background: no-repeat 0 50%;
    background-size: cover;
    transform: skewY(-2.5deg);
  }
}
