#container {
  margin-top: 2rem;
}

.field.is-grouped > .control:not(:last-child) {
  margin-left: 0.75rem;
  margin-right: 0;
}

section {
  padding: 0 2rem;

  &:nth-child(2n) {
    padding: 0 2rem 14rem;
  }
}

section.background {
  position: relative;

  .container {
    display: flex;
    align-items: center;
  }

  &:before {
    left: 0;
    top: -17%;
    width: 100%;
    content: "";
    z-index: -1;
    height: 100%;
    position: absolute;
    background: no-repeat 0 50%;
    background-size: cover;
    transform: skewY(-2.5deg);
  }
}

.header-icon {
  top: -11rem;
  width: 100%;
  position: absolute;
  > .image {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    margin: 0 auto 1rem;
    border-radius: .5rem;
    background-color: white;
    box-shadow: 0 5px 18px 2px rgba(94, 96, 186, 0.2);
  }
  > .title {
    color: #6c718b;
    font-weight: 500;
    font-size: 1.7rem;
    text-align: center;
  }
  > .description {
    color: #6c718b;
    text-align: center;
  }
}

#section1 {
  color: #fff;
}
